body {margin: 0;}

/*navigációs sáv  */

ul.navigacio {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  font-size:40px;
  font-family: sans-serif;}

ul.navigacio li {float: left;}

ul.navigacio li a {
  display: block;
  color: darkgrey;
  text-align: center;
  padding: 20px ;
  text-decoration: none;}

.navigacio{ display: flex;
    flex-wrap: wrap;
    justify-content: center;}


.navigacio a:hover{color: grey;}
/*navigációs sáv vége*/
/*navigációs sáv responsivitás*/

@media screen and (max-width: 630px) {
  ul.navigacio li {font-size: 20px;
    float: center;}
}

@media screen and (max-width: 380px) {
  ul.navigacio li {font-size: 10px;
    float: center;}
}

/*navigációs sáv responsivitás vége*/

/*tartalom*/
div h1{
  font-size: 30px;
  font-family: sans-serif;
  padding-right: 25px;
  padding-left: 25px;}

div p{
  font-size: 15px;
  font-family: sans-serif;
  padding-right: 20px;
  padding-left: 20px}

 ul.linkek { 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size:15px;
  font-family: sans-serif;}

ul.linkek li {float: left;}

ul.linkek li a {
  display: block;
  color: darkblue;
  text-align: left;
  padding-left: 20px ;
  padding-right: 20px;
  text-decoration: none;}

div img{
  height: 300px;
  padding-left: 20px;}

/*tartalom vége*/
/*tartalom responsivitása*/

@media screen and (max-width: 1150px) {
  div img{ height: 250px;}
}

@media screen and (max-width: 950px) {
  div img{ height: 200px;}
}

@media screen and (max-width: 770px) {
  div img{ height: 150px;}
}

@media screen and (max-width: 730px) {
  div p{ font-size: 10px;}
}

@media screen and (max-width: 590px) {
  div img{ height: 100px;}
}

@media screen and (max-width: 350px) {
  div img{ height: 50px;}
}